fastapi==0.115.6
uvicorn[standard]==0.34.0
SQLAlchemy==2.0.36
psycopg[binary]==3.2.3
APScheduler==3.11.0
pydantic==2.10.4
pydantic-settings==2.7.0
numpy==2.2.1
Pillow==11.0.0
requests==2.32.3
geopy==2.4.1
lxml==5.3.0
